/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

h2 {
    color: #FF5722;
}

/* About Section */
.about {
    background-color: #E8F5E9;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

/* Skills Section */
.skills {
    background-color: #FFF3E0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

/* Projects Section */
.projects {
    background-color: #E1F5FE;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.project {
    background-color: #E3F2FD; /* Light blue background */
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.project img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.project h3 {
    color: #007bff; /* Blue color for the project title */
}

/* Contact Section */
.contact {
    background-color: #FCE4EC;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
